@font-face {
	font-family: 'IBMPlexSans-Medium';
	src: url('./frontend/fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

body,
html {
	font-family: 'IBMPlexSans-Medium';
}

.app-container {
	display: flex;
	width: 100%;
	height: 100vh;
}

/* Left Half */

.cmu-logo {
	position: relative;
	width: 330px;
	top: 20px;
	left: 20px;
}

.left-half {
	flex: 1;
	background-color: #3E3A56;
	padding: 20px;
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	overflow-y: scroll;
}

.left-half::-webkit-scrollbar {
	display: none;
	/* for Chrome, Safari, and Opera */
}

/* Input */

.input-container {
	flex: 1;
	padding: 23px;
	background-color: #3E3A56;
	color: #996875;
	position: relative;
	top: 31px;
}

#editable-text {
	white-space: pre-wrap;
	border: none;
	outline: none;
	background-color: transparent;
	height: 600px;
	font-size: 16px;
	color: #996875;
}

#editable-text:empty:before {
	content: attr(placeholder);
	color: #99687598;
}

/* Input Option Box */

.rounded-box {
	display: flex;
	width: 330px;
	height: 40px;
	border-radius: 5px;
	padding: 0 5px;
	justify-content: space-between;
	align-items: center;
	background-color: #EFD3D9;
	border: 1px solid #ccc;
	position: fixed;
	bottom: 40px;
	left: 40px;
	z-index: 9999;
}

.group {
	display: flex;
}

.checkbox {
	margin: auto 10px auto 5px;
	height: 15px;
	width: 15px;
	border-radius: 2px;
}

.checkbox input[type="checkbox"] {
	margin-right: 5px;

	/* Adjust spacing as needed */
}

#text {
	font-weight: bold;
}

.brackets {
	margin: auto 0 auto 20px;
	display: flex;
	gap: 5px;
}

.bracket1 {
	width: 12px;
	height: 20px;
	background-color: #272538;
	border-radius: 2px;
	font-weight: bolder;
	color: #EFD3D9;
	border: none;
	text-align: center;
	cursor: text;

}

.bracket2 {
	width: 12px;
	height: 20px;
	border-radius: 2px;
	background-color: #272538;
	font-weight: bolder;
	color: #EFD3D9;
	border: none;
	text-align: center;
	cursor: text;
}

.ai-button {
	background-color: #272538;
	color: #EFD3D9;
	border-radius: 3px;
	padding: 2px 5px;
	height: 30px;
	font-family: 'IBMPlexSans-Medium';
	border: none;
}

/* Right Half */

.right-half {
	flex: 1;
	background-color: #272538;
	padding: 20px;
	color: #996875;
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	overflow-y: scroll;
}

.right-half::-webkit-scrollbar {
	display: none;
	/* for Chrome, Safari, and Opera */
}

/* Output */

.output-container {
	flex: 1;
	padding: 20px;
	background-color: #272538;
	color: #996875;
	white-space: pre-line;
	position: relative;
	top: 70px;
}

.output {
	position: absolute;
	left: 40px;
}

/* Tranpose Buttons */

svg {
	width: 40px;
	height: 40px;
	fill: #000;
	cursor: pointer;

	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.toggle-button-container {
	width: 55px;
	height: 55px;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.output-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

/* Copy Button */

.copy-button {
	font-family: 'IBMPlexSans-Medium';
	width: 185px;
	color: #EFD3D9;
	background: #1d1c28 url(./frontend/svg/Clipboard.svg) no-repeat 2px center;
	visibility: visible;
	border: 8px solid #1d1c28;
	text-align: right;
	border-radius: 5px;
	padding-left: 20px;
	position: fixed;
	z-index: 9999;
	top: 40px;
	left: 75%;
	transform: translateX(-50%);
	cursor: pointer;
}

/* Tablet */

@media only screen and (max-width: 850px) {
	.app-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
	}

	.output-buttons {
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		gap: 5px;
	}

	.copy-button {
		display: flex;
		width: 42px;
		height: 42px;
		border-radius: 5px;
		color: transparent;
		user-select: none;
		background: #1d1c28 url(./frontend/svg/Clipboard.svg) no-repeat 3px center;
		visibility: visible;
		align-items: center;
		position: fixed;
		z-index: 9999;
		top: 90%;
		left: 90%;
		transform: translateX(-50%);
	}

	.rounded-box {
		display: flex;
		width: 330px;
		height: 40px;
		border-radius: 5px;
		justify-content: space-between;
		align-items: center;
		background-color: #EFD3D9;
		border: 1px solid #ccc;
		position: fixed;
		top: 90%;
		left: 40px;
		z-index: 9999;
	}

	.output {
		position: absolute;
		left: 23px;
		padding-bottom: 110px
	}

}

/* Phone */

@media only screen and (max-width: 484px) {

	/* For mobile phones: */
	.ai-button {
		background-color: transparent;
		color: transparent;
		cursor: not-allowed;
		pointer-events: none;
	}

	.rounded-box {
		display: flex;
		width: 80px;
		height: 40px;
		border-radius: 5px;
		justify-content: space-between;
		align-items: center;
		background-color: #EFD3D9;
		border: 1px solid #ccc;
		position: fixed;
		top: 90%;
		right: 90%;
		color: transparent;
		user-select: none;

	}

	.brackets {
		margin: auto -90px;
		display: flex;
		gap: 5px;
	}

	.cmu-logo {
		position: relative;
		width: min(90%, 330px);
		top: 2 0px;
		left: 50%;
		transform: translateX(-50%);
	}

	.copy-button {
		display: flex;
		width: 42px;
		height: 42px;
		border-radius: 5px;
		color: transparent;
		user-select: none;
		background: #1d1c28 url(./frontend/svg/Clipboard.svg) no-repeat 3px center;
		visibility: visible;
		align-items: center;
		position: fixed;
		z-index: 9999;
		top: 90%;
		left: 85%;
		transform: translateX(-50%);
	}
}

/* Large Screen */

@media only screen and (min-width: 1024px) {
	#editable-text {
		white-space: pre-wrap;
		border: none;
		outline: none;
		background-color: transparent;
		height: 600px;
		font-size: 1vw;
		color: #996875;
	}

	.output-container {
		flex: 1;
		padding: 20px;
		background-color: #272538;
		color: #996875;
		white-space: pre-line;
		position: relative;
		font-size: 1vw;
		top: 70px;
	}
}